

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}


@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.ttf') format('truetype');
}